@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2-variations'),
       url('./assets/fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#D4AF37] to-[#F9E29F];
  }
  
  .bg-gold-gradient {
    @apply bg-gradient-to-r from-[#D4AF37] to-[#F9E29F];
  }
}

@layer base {
  body {
    @apply bg-pig-dark text-white antialiased;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  transition: 0s;
}

.shine-effect:hover::after {
  animation: shine 0.75s;
}